.section {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom-width: 2px;
  min-width: 200px;
  cursor: pointer;
  border-width: 0 !important;
  color: grey;
}

.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section > h4 {
  font-size: 14px;
  margin-left: 15px;
}
